@font-face {
  font-family: "SFPD-Regular";
  src: url("https://kenh14cdn.com/web_font/SFPD-Regular.otf");
}
@font-face {
  font-family: "SFPD-Bold";
  src: url("https://kenh14cdn.com/web_font/SFPD-Bold.otf");
}
